*
    margin: 0
    box-sizing: border-box
    
.main
    width: fit-content
    margin: 30px auto    
    
.title
    font-variant: small-caps
    font-size: clamp(20px, 7svh, 42px)
    justify-self: stretch
    
.viewContainer
    margin: 0 auto
    background: #00386f
    border-radius: 10px
    border: 5px double #009cc7
    padding: 10px
    display: flex
    justify-content: center