*
    margin: 0
    box-sizing: border-box
    
.main  
    margin: 0 auto
        
.ListScrollView
    height: clamp(250px, 55vh, 450px)
    width: 100%
    max-width: 360px
    padding: 10px 25px
    margin: 50px auto
    overflow: scroll
    background: #00386f
    border-radius: 10px    
    border: 5px double #009cc7
    flex-direction: column
    flex-wrap: wrap
    
.title
    font-variant: small-caps
    font-size: clamp(20px, 7svh, 42px)
    justify-self: stretch
    
.calendarListItem
    list-style-type: none
    display: flex
    flex-direction: column
    
.cListItemCount
    font-size: clamp(14px, 4svh, 30px)
    align-self: flex-start
    position: relative
    left: -50px
    
.calendarListItemContainer
    display: flex
    flex-wrap: wrap
    border: 3px outset white
    border-radius: 15px
    margin: 15px 0
    padding: 10px
    justify-content: center
            
.cListItemName
    font-variant: small-caps
    font-size: 28px
    align-self: center
    justify-self: center
    padding: 5px
    
.cListItemButtonContainer
    display: flex
    
.cListItemButton
    margin: 0 10px
   
.eventAddViewContainer
    margin: 0 auto
    background: #00386f
    border-radius: 10px
    border: 5px double #009cc7
    padding: 10px
    display: flex
    justify-content: center

.calendarDisplayContainer
    margin: 20px auto
    height: 550px
    
.regText
    font-size: 20px
    margin: 10px 0
    text-align: center
    
.emphText
    font-size: 24px
    font-weight: bold
    font-variant: small-caps
    margin: 10px 0
    text-align: center
    