.intro
    color: #fff
    text-align: center
    padding: 0.5em

.text
    color: #fff
    text-align: center
    padding: 0.5em
    
.button
    background-color: #fff
    border: 1px solid #fff
    border-radius: 15px
    display: block
    font-size: 1.2rem
    margin: 25px auto
    padding: 0.5em
    text-align: center
    text-decoration: none
    width: fit-content
    
ul
    list-style-type: upper-roman
    margin: 0 auto
    padding: 0
    width: 50%
    
li
    color: #fff
    font-size: 1.5em
    text-align: center
    padding: 0.5em
    font-size: 1.2rem
    