.Link
    font-weight: bold
    font-variant-caps: small-caps
    text-decoration: none
    background-color: #eee
    padding: 7px
    margin: 5px
    border-radius: 5px
    
.Link:hover
    text-decoration: underline
    background-color: #ddd
    
.menuItem
    background-color: #eee
    
.menuItem:hover
    background-color: #ddd
    

