.addUserGroup
    margin: 0 auto;
    background: #00386f;
    border-radius: 10px;
    border: 5px double #009cc7;
    padding: 10px;
    display: flex;
    justify-content: center;
    
.title
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
    
.indexNum
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    border: 1px solid #000;
